.carousel {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  object-fit: contain;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}

@media (width<=768px) {
  .carousel {
    margin-top: 4.5rem;
  }
}
