.footer{
    font-family: "kanit", sans-serif;
}

li{
  list-style: none;
}

.ficons{
font-size: 2rem;
background-image: linear-gradient(
    120deg,
    rgb(236, 196, 0),
    rgb(255, 248, 168),
    rgb(221, 172, 23),
    rgb(255, 255, 149)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

}


a{
text-decoration: none;

}