.hfooter {
  background-image: linear-gradient(
    120deg,
    rgb(236, 196, 0),
    rgb(255, 248, 168),
    rgb(221, 172, 23),
    rgb(255, 255, 149)
  );
}

.hfootcon {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: "Open sans", sans-serif;
  /* height: auto; */
  padding: 10px 40px;
}

.fheads {
  font-size: 1rem;
  color: black;
}

.flinks {
  text-decoration: none;
  font-size: .9rem;
  color: black;
}
/* contactus */
.contactus{
 font-size: .9rem;
}
.fconli{
  display: flex;
  justify-content: start;
  padding: 6px;
  gap:.8rem;
}
.fconsp{
  display: flex;
  flex-direction: column;
}
.fconic{
  margin:5px;
}

.hfootcon li {
  list-style: none;
}

.ficons {
  font-size: 2rem;
  color: rgb(236, 196, 0);
}

/* Social media icons */
.fsocial {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-image: radial-gradient(
    circle,
    #e11f28,
    #870b0f 30%,
   #560000 70%,
   #7f090d,
   #b2141b
  );
}

.copri {
  padding: 1rem;
  font-size: .9rem;
  text-align: center;
}
