
.hfooter {
  font-family: 'Open sans', sans-serif;
  width: 100%;
  height: auto;
  padding: 20px 10px;
  background: #3044a5;
}

.hfootcon {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.hfootcon h2,p,a {
  text-decoration: none;
  color: white;
}

.hfootcon li {
  list-style: none;
}

.ficons {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: gold;
}


