.HomeHeader {
  text-align: center;
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 5.5rem;
  width: 100%;
  box-shadow: 0 0 5px gray;
}
.items {
  flex: 0 1 auto;
}
.LogoRajalaksmi {
  height: 6.5rem;
}

.SearchParent {
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 25rem;
  background-color: rgb(212, 211, 211);
  box-shadow: 0px 0px 8px lightgray;
}
.SearchInput {
  background-color: rgb(212, 211, 211);
  border: none;
  outline: none;
  border-radius: 8px;
  width: 20rem;
  height: 30px;
}

.IconText {
  display: flex;
  align-items: center;
}
.Icon {
  width: 35px;
  height: 23px;
}
#Ham {
  display: none;
}
.HamButton {
  background: none;
  border: none;
  margin-top: 5px;
  width: 35px;
  height: 23px;
}

@media (width<=768px) {
  .IconText {
    font-size: 0px;
  }
  .IconText:hover {
    /* position: absolute; */
    font-size: initial;
  }

  .SearchParent {
    flex-basis: 80%;
    order: 1;
    gap: 16%;
    justify-content: space-evenly;
  }
  .SearchInput{
    padding: 6px;
  }

  #Ham {
    display: inline;
    z-index: 1000;
    position: relative;
   
  }
}

@media (width<=576px) {
  .SearchParent {
    flex-basis: 50%;
  }
}

@media (width<=340px) {
  .SearchParent {
    flex-basis: 30%;
    width: 15rem;
    gap: 9%;
  }


}
